.landingpageinfo ol{
  text-align:left;
}
.navigation {
  border-radius: 8px;
  border-style: none;
  background-color: #487fff !important;
}

.navigation:hover {
  background-color: #0b5ed7 !important;
}

.byline {
  font-size: 12px;
  font-weight: 400;
}

.side-menu-item {
  border-style: none !important;
  padding-top: 6px;
}